

.skills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7ff;
  padding: 14vh 5vh 5vh 5vh;
  height: auto;
}

.skills h2 {
  font-size: 45px;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold;
  color: #333333;
  margin-bottom: 20vh;
}

.skills__perfil {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.skills__banner {
  background-image: url("../../assets/backgroundots.svg");
  background-size: auto;
  position: absolute;
  top: 162%;
  height: 50vh;
  width: 70%;
}

.skills__information {
  background-color: #fff;
  width: 60%;
  z-index: 1;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 5vw;
  margin-bottom: 20vh;
}

.skills__information h3 {
  font-size: 20px;
  font-family: 'Poppins', sans-serif; 
  font-weight: bold;
  color: #333333;
  text-align: center;
}

.skills__information img {
  width: 80%;
}


.skills__information p {
  color: #333333;
  margin-bottom: 5vh;
  width: 80%;
  text-align: center;
}

.skills__information__span {
  margin-top: 5vh;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5vh;
}

.skills__information__span span {
  color: #333333;
  border: 2px solid var(--blue);
  padding: 5px 15px;
  border-radius: 100px;
  margin: 5px 5px;
}

#span__especial {
  color: #333333;
  border: 2px solid #ffb700ff;
  padding: 5px 15px;
  border-radius: 100px;
  margin: 5px 5px;
}

.skill__information__3d {
  height: 300px;
  width: 300px;
}

.skill__information__learning {
  margin-top: 8vh;
  background-image: url("../../assets/line.svg");
  background-size: cover;
  padding-top: 10%;
}

.skill__information__learning div {
  display: flex;
  background-color: #fff;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  border: 2px solid var(--blue);
  padding: 5px 10px;
  margin-top: 5vh;
  width: 400px;
}

.skill__information__learning img {
  width: 45px;
}

#learn {
  font-size: 16px;
  text-align: right;
  margin-bottom: 0;
}



@media (max-width: 1100px) {
  .skills h2 {
    font-size: 20px;
    margin-bottom: 10vh;
  }

  .skills__banner {
    display: none;
  }
  .skills__information {
    width: 100%;
    margin-bottom: 15vh;
  }

  .skills__information img {
    width: 60%;
  }

  .skill__information__learning img {
  width: 45px;
}

}

@media (max-width: 450px) {
  .skills__information img {
    width: 100%;
  }
  .skill__information__learning img {
    width: 45px;
  }

  .skill__information__learning div {
    width: 300px;
  }
  .skills__information__span {
    justify-content: center;
  }
}


