.navbar--mobile {
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.navbar--mobile__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vh 8vw;
}

.navbar--mobile__logo img {
  width: 45px;
}

.navbar--mobile__iconMenu img {
  width: 30px;
}

.navbar--mobile__iconMenu button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.navbar--mobile__links {
  border-top: 2px solid rgb(226, 226, 226);
  display: flex;
  flex-direction: column;
  padding: 3vh 5vw;
  gap: 3vh;
  border-radius: 0px 0px 15px 15px;
  align-items: flex-start;
}

.navbar--mobile__links a {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  padding: 5px 30px;
  text-decoration: none;
  color: #0f0f0f;
  font-size: 16px;
}

.navbar--mobile__links button {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: var(--blue);
  font-size: 16px;
  color: var(--white);
  padding: 8px 56px;
  border-radius: 5px;
  border: 1px solid var(--blue) ;
  margin-left: 3vw;
}

#contact {
  margin-left: 0vw;
}

.hidden {
  display: none;
}


@media (min-width: 1100px) {
  .navbar--mobile {
    display:none;
  }
}