
.navbar {
  background-color: #fff;
  display: flex;
  width: 100%;
  align-items: center;
  padding: 2vh 5vw;
  justify-content: space-between;
}

.navbar__logo {
  width: 10%;
}

.navbar__logo img {
  width: 45px;
}

.navbar__links {
  width: 60%;
  padding-left: 15px;
}

.navbar__links a {
  font-family: 'Poppins', sans-serif;
  font-style: bold;
  padding: 5px 30px;
  text-decoration: none;
  color: #0f0f0f;
  font-size: 16px;
}

.navbar__links a:hover {
  color: var(--blue);
}


.navbar__button {
  display: flex;
  width: 30%;
  justify-content: flex-end;
  gap: 15px;
}

.navbar__button button {
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: var(--blue);
  font-size: 16px;
  color: var(--white);
  padding: 8px 30px;
  border-radius: 5px;
  border: 1px solid var(--blue) ;
}

.navbar__button button:hover {
  background-color: #1665dc;
}

/*/////Mobile Medias /////*/


@media (max-width: 1100px) { 
  
  .navbar {
    display: none;
  }

}